<mat-table [dataSource]="dataSource" class="scale-table mat-elevation-z2">
  <ng-container [matColumnDef]="ScaleTableCol.INPUT_KEY">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let element">
      <span class="scale-in-key">
        <app-spelled-pitch *ngIf="element.firstMappedPitch" [pitch]="element.firstMappedPitch"></app-spelled-pitch>
        <ng-container *ngIf="!element.firstMappedPitch">-</ng-container>
      </span>
    </mat-cell>
  </ng-container>

  <ng-container [matColumnDef]="ScaleTableCol.DEG">
    <mat-header-cell *matHeaderCellDef><span class="scale-deg">Deg.</span></mat-header-cell>
    <mat-cell *matCellDef="let element">
      <span class="scale-deg">{{element.deg.displayNumber}}</span>
    </mat-cell>
  </ng-container>

  <ng-container [matColumnDef]="ScaleTableCol.MEASURE_FROM">
    <mat-header-cell *matHeaderCellDef><span class="scale-measure-from">Meas.<br>From</span></mat-header-cell>
    <mat-cell *matCellDef="let element">
      <span class="scale-measure-from">{{element.measureFrom?.displayNumber || '-'}}</span>
    </mat-cell>
  </ng-container>

  <ng-container [matColumnDef]="ScaleTableCol.RATIO">
    <mat-header-cell *matHeaderCellDef><span class="scale-ratio">Ratio</span></mat-header-cell>
    <mat-cell *matCellDef="let element">
      <span class="scale-ratio">
        <ng-container *ngIf="element.ratio">{{element.ratio}}</ng-container>
        <ng-container *ngIf="!element.ratio">-</ng-container>
      </span>
    </mat-cell>
  </ng-container>

  <ng-container [matColumnDef]="ScaleTableCol.CENTS">
    <mat-header-cell *matHeaderCellDef><span class="scale-cents">Cents</span></mat-header-cell>
    <mat-cell *matCellDef="let element">
      <span class="scale-cents">
        <ng-container *ngIf="element.cents">{{element.cents}}</ng-container>
        <ng-container *ngIf="!element.cents">-</ng-container>
      </span>
    </mat-cell>
  </ng-container>

  <ng-container [matColumnDef]="ScaleTableCol.FREQ">
    <mat-header-cell *matHeaderCellDef><span class="scale-freq">Freq (Hz)</span></mat-header-cell>
    <mat-cell *matCellDef="let element">
      <span class="scale-freq">{{element.freqHz}}</span>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
