<div class="scale-table-wrapper">

<table mat-table [dataSource]="dataSource" class="scale-table mat-elevation-z2">
  <ng-container [matColumnDef]="ScaleTableCol.INPUT_KEY">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <span class="scale-in-key">
        <app-spelled-pitch *ngIf="element.firstMappedPitch" [pitch]="element.firstMappedPitch"></app-spelled-pitch>
        <ng-container *ngIf="!element.firstMappedPitch">-</ng-container>
      </span>
    </td>
  </ng-container>

  <ng-container [matColumnDef]="ScaleTableCol.DEG">
    <th mat-header-cell *matHeaderCellDef><span class="scale-deg">Deg.</span></th>
    <td mat-cell *matCellDef="let element">
      <span class="scale-deg">{{element.deg.displayNumber}}</span>
    </td>
  </ng-container>

  <ng-container [matColumnDef]="ScaleTableCol.MEASURE_FROM">
    <th mat-header-cell *matHeaderCellDef><span class="scale-measure-from">Meas.<br>From</span></th>
    <td mat-cell *matCellDef="let element">
      <span class="scale-measure-from">{{element.measureFrom?.displayNumber || '-'}}</span>
    </td>
  </ng-container>

  <ng-container [matColumnDef]="ScaleTableCol.RATIO">
    <th mat-header-cell *matHeaderCellDef><span class="scale-ratio">Ratio</span></th>
    <td mat-cell *matCellDef="let element">
      <span class="scale-ratio">
        <ng-container *ngIf="element.ratio">{{element.ratio}}</ng-container>
        <ng-container *ngIf="!element.ratio">-</ng-container>
      </span>
    </td>
  </ng-container>

  <ng-container [matColumnDef]="ScaleTableCol.CENTS">
    <th mat-header-cell *matHeaderCellDef><span class="scale-cents">Cents</span></th>
    <td mat-cell *matCellDef="let element">
      <span class="scale-cents">
        <ng-container *ngIf="element.cents">{{element.cents}}</ng-container>
        <ng-container *ngIf="!element.cents">-</ng-container>
      </span>
    </td>
  </ng-container>

  <ng-container [matColumnDef]="ScaleTableCol.FREQ">
    <th mat-header-cell *matHeaderCellDef><span class="scale-freq">Freq (Hz)</span></th>
    <td mat-cell *matCellDef="let element">
      <span class="scale-freq">{{element.freqHz}}</span>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

</div>
