@import '_colors';
@import '_fonts';

.mat-column-inKey {
  padding-right: 0;
  text-align: right;
}

.mat-column-deg {
  padding-right: 1.5em;
  text-align: right;
}

.mat-column-from {
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-left: 1px solid #eee;
  text-align: center;
}

.mat-column-ratio {
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
}

.mat-column-cents {
  padding-left: 1em;
  padding-right: 1em;
  text-align: right;
}

.mat-column-freq {
  padding-left: 1em;
  padding-right: 1em;
  text-align: right;
}

.scale-table-wrapper {
  overflow-x: auto;
  padding: 0.5em 0.25em 0.5em 0.25em;
}

.scale-in-key {
  color: $color-text-label;
}

.mat-cell {
  .scale-deg {
    font-weight: bold;
  }

  .scale-deg,
  .scale-measure-from,
  .scale-ratio,
  .scale-cents,
  .scale-freq {
    font-family: $font-monospace;
  }

  .scale-in-key {
    font-size: 0.65rem;
  }
}
