@import '_colors';
@import '_fonts';

.scale-table {
  margin: 0.5em 0.25em 0.5em 0.25em;
}

.scale-in-key {
  color: $color-text-label;
  min-width: 1.5rem;
  text-align: end;
}

.scale-deg,
.scale-measure-from {
  min-width: 1.5rem;
  text-align: end;
}

.scale-ratio {
  min-width: 4rem;
  text-align: center;
}

.mat-column-cents {
  padding-right: 1em;
}

.scale-cents {
  min-width: 5rem;
  text-align: end;
}

.scale-freq {
  min-width: 5rem;
  text-align: end;
}

.mat-cell {
  .scale-deg,
  .scale-measure-from,
  .scale-ratio,
  .scale-cents,
  .scale-freq {
    font-family: $font-monospace;
  }

  .scale-in-key {
    font-size: 0.65rem;
  }
}
