<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="deg">
    <mat-header-cell *matHeaderCellDef><span class="scale-deg">Deg.</span></mat-header-cell>
    <mat-cell *matCellDef="let element">
      <span class="scale-deg">{{element.deg.displayNumber}}</span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="ratio">
    <mat-header-cell *matHeaderCellDef><span class="scale-ratio">Ratio</span></mat-header-cell>
    <mat-cell *matCellDef="let element">
      <span class="scale-ratio">
        <ng-container *ngIf="element.ratio">{{element.ratio}}</ng-container>
        <ng-container *ngIf="!element.ratio">-</ng-container>
      </span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="cents">
    <mat-header-cell *matHeaderCellDef><span class="scale-cents">Cents</span></mat-header-cell>
    <mat-cell *matCellDef="let element">
      <span class="scale-cents">
        <ng-container *ngIf="element.cents">{{element.cents}}</ng-container>
        <ng-container *ngIf="!element.cents">-</ng-container>
      </span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="freq">
    <mat-header-cell *matHeaderCellDef><span class="scale-freq">Freq (Hz)</span></mat-header-cell>
    <mat-cell *matCellDef="let element">
      <span class="scale-freq">{{element.freqHz}}</span>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
