/*
 * SPDX-FileCopyrightText: 2022 Argho Tuning Project Authors
 *
 * SPDX-License-Identifier: Apache-2.0
 */

@import '_colors';
@import '_fonts';

.mat-column-inKey {
  padding-right: 0;
  text-align: right;
}

.mat-column-deg {
  padding-right: 1.5em;
  text-align: right;
}

.mat-column-from {
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-left: 1px solid #eee;
  text-align: center;
}

.mat-column-ratio {
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
}

.mat-column-cents,
.mat-column-12tetCents {
  padding-left: 1em;
  padding-right: 1em;
  text-align: right;
}

.mat-column-freq {
  padding-left: 1em;
  padding-right: 1em;
  text-align: right;
}

.mat-column-12tetPitch {
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-left: 1px solid #eee;
  text-align: center;
}

.scale-table-wrapper {
  overflow-x: auto;
  padding: 0.5em 0.25em 0.5em 0.25em;
  position: relative;  // Position popup editor relative to.
}

.scale-in-key {
  color: $color-text-label;
}

.mat-header-cell {
  .scale-measure-from-wrapper {
    padding-left: 0.5em;
  }
}

.menu-header {
  color: $color-text-label;
  padding: 0 1em;
}

.black-key {
  background-color: $color-black-key-bg;
}

.mat-row:hover {
  background-color: $color-hover-row-bg;

  .mat-cell.editable:hover {
    background-color: $color-field-bg;
    cursor: pointer;
  }

  .black-key {
    background-color: $color-hover-black-key-bg;
  }
}

.mat-cell {
  .scale-deg {
    font-weight: bold;
  }

  .scale-deg,
  .scale-measure-from,
  .scale-ratio,
  .scale-cents,
  .scale-freq,
  .scale-12tet-offset {
    font-family: $font-monospace;
  }

  .scale-in-key {
    font-size: 0.65rem;
  }
  .scale-nearest-pitch {
    font-size: 0.8rem;
  }
}

.scale-field-editor {
  background-color: $color-editor-bg;
  padding: 0 1em;

  position: absolute;
  top: 0;
  left: 0;
}

.scale-measure-from-wrapper {
  display: flex;

  button {
    min-width: 0;
    padding: 0 0.5em;
  }
}

.play-button {
  color: $color-primary;
  font-size: 0.65rem;
  min-width: 0;
  padding: 0.5em;
}
