@import '_colors';

.mat-column-num {
  padding-right: 0.5em;
  text-align: right;
}

.mat-column-key {
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
}

.mat-column-deg {
  border-left: 1px solid #eee;
  padding-left: 1em;
  text-align: center;
}

.mapping-table-wrapper {
  overflow-x: auto;
  padding: 0.5em 0.25em 0.5em 0.25em;
  position: relative;  // Position popup editor relative to.
}

.mat-cell {
  .mapping-num {
    color: $color-text-label;
    font-size: 0.65rem;
  }
}

.mat-cell.editable:hover {
  background-color: $color-field-bg;
  cursor: pointer;
}

.mapping-field-editor {
  background-color: $color-editor-bg;
  padding: 0 1em;

  position: absolute;
  top: 0;
  left: 0;
}
