<!--
SPDX-FileCopyrightText: 2022 Argho Tuning Project Authors

SPDX-License-Identifier: Apache-2.0
-->

<button mat-button color="primary" (click)="resetTuning()">
  <fa-icon [icon]="faFile"></fa-icon> NEW
</button>

<input #fileInput type="file" accept=".arghotun" style="display: none" (change)="openFile()">
<button mat-button color="primary" (click)="fileInput.click()">
  <fa-icon [icon]="faUpload"></fa-icon> OPEN
</button>

<a #saveButton mat-button color="primary" (click)="saveTuning()">
  <fa-icon [icon]="faSave"></fa-icon> SAVE{{hasUnsavedChanges ? '*' : ''}}
</a>

<button mat-button color="primary" (click)="shareTuning()">
  <fa-icon [icon]="faShare"></fa-icon> SHARE
</button>

<!-- TODO: Add Explore world tunings button back. -->
<!-- <a mat-button color="accent" href="/explore"><fa-icon [icon]="faCompass"></fa-icon> Explore world tunings</a> -->
