/*
 * SPDX-FileCopyrightText: 2022 Argho Tuning Project Authors
 *
 * SPDX-License-Identifier: Apache-2.0
 */

@import '_colors';

.mat-dialog-content {
  max-width: 80vw;
  width: 560px;
}

.mat-dialog-actions {
  justify-content: flex-end;
}

.share-url {
  margin-top: 1em;
  width: 100%;
}

.long-url-warning {
  fa-icon {
    color: $color-warning;
  }
}
