<!--
SPDX-FileCopyrightText: 2022 Argho Tuning Project Authors

SPDX-License-Identifier: Apache-2.0
-->

<h1 mat-dialog-title>Share Tuning</h1>

<div mat-dialog-content>
  <div>Bookmark or share this URL:</div>
  <mat-form-field class="share-url" appearance="fill" color="accent">
    <mat-label>Tuning URL</mat-label>
    <textarea #tuningUrlArea matInput
        [value]="data.url" readonly rows="10"
        (focus)="handleFocus()"></textarea>
  </mat-form-field>
  <div *ngIf="veryLongUrl()" class="long-url-warning">
    <fa-icon [icon]="faWarning"></fa-icon> This encoded tuning exceeds the
      maximum URL length for certain browsers. If you have any problems, try
      saving and loading this tuning as an <code>.arghotun</code> file instead.
  </div>
</div>

<div mat-dialog-actions>
  <button class="copy-btn" mat-flat-button color="accent" (click)="copyToClipboard()">
    <fa-icon [icon]="faClipboard"></fa-icon> Copy
  </button>
  <button class="ok-btn" mat-button mat-dialog-close>Done</button>
</div>
