@import '_colors';
@import '_fonts';

.toolbar-logo {
  margin-left: 0.5em;
  height: 1.75em;
  width: 1.75em;
}

.toolbar-title {
  color: $color-text;
  font-family: $font-title;
  font-size: 1.5rem;
}
