<!--
SPDX-FileCopyrightText: 2022 Argho Tuning Project Authors

SPDX-License-Identifier: Apache-2.0
-->

<mat-toolbar color="primary">
  <button (click)="menuClick.emit()" mat-icon-button aria-label="Navigation menu button">
    <mat-icon>menu</mat-icon>
  </button>

  <a href="/">
    <img class="toolbar-logo" src="assets/logo.svg"
         alt="Tuning fork logo for the Argho Tuning project">
  </a>
  <h1 class="toolbar-title"><a href="/">Argho Tuning</a></h1>
  <span class="beta-label">BETA</span>
</mat-toolbar>
