/*
 * SPDX-FileCopyrightText: 2022 Argho Tuning Project Authors
 *
 * SPDX-License-Identifier: Apache-2.0
 */

@import '_colors';
@import '_fonts';

.menu-button {
  font-size: 1.4em;
}

.toolbar-logo {
  margin-left: 0.5em;
  height: 1.75em;
  vertical-align: middle;
  width: 1.75em;
}

.toolbar-title {
  color: $color-text;
  font-family: $font-title;
  font-size: 1.5rem;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.beta-label {
  color: $color-text-tinted-label;
  font-family: $font-body;
  font-size: 1rem;
  margin-left: 0.6em;
  position: relative;
  top: -0.25em;
}
