<mat-nav-list>
  <a mat-list-item href="/">
    <fa-icon [icon]="faHome"></fa-icon>
    <span class="link-text">Overview</span>
  </a>
  <a mat-list-item href="/editor">
    <fa-icon [icon]="faMusic"></fa-icon>
    <span class="link-text">Tunings</span>
  </a>
  <a mat-list-item href="/downloads">
    <fa-icon [icon]="faDownload"></fa-icon>
    <span class="link-text">Downloads</span>
  </a>
  <a mat-list-item href="/learn">
    <fa-icon [icon]="faGraduationCap"></fa-icon>
    <span class="link-text">Learn</span>
  </a>
  <a mat-list-item href="/contact">
    <fa-icon [icon]="faEnvelope"></fa-icon>
    <span class="link-text">Contact &amp; About</span>
  </a>

  <mat-divider></mat-divider>

  <a mat-list-item href="/file-format">
    <fa-icon [icon]="faFileCode"></fa-icon>
    <span class="link-text">File Format</span>
  </a>
  <a mat-list-item href="/projects">
    <fa-icon [icon]="faCodeBranch"></fa-icon>
    <span class="link-text">Open Source Projects</span>
  </a>
</mat-nav-list>
