/*
 * SPDX-FileCopyrightText: 2022 Argho Tuning Project Authors
 *
 * SPDX-License-Identifier: Apache-2.0
 */

:host {
  text-align: center;
}

h1 {
  padding-top: 2em;
}

.coming-soon-logo {
  height: 12em;
  margin-top: 1em;
  width: 12em;
}
