/*
 * SPDX-FileCopyrightText: 2022 Argho Tuning Project Authors
 *
 * SPDX-License-Identifier: Apache-2.0
 */

@use 'sass:color';

@use '@angular/material' as mat;

/* https://makandracards.com/makandra/42500-sass-how-to-convert-an-rgba-color-to-its-rgb-look-alike */
@function rgba-to-rgb($rgba, $background: #fff) {
  @return color.mix(
      rgb(color.red($rgba), color.green($rgba), color.blue($rgba)),
      $background,
      color.alpha($rgba) * 100%)
}

$palette-primary: mat.define-palette(mat.$teal-palette, 600);
$palette-secondary: mat.define-palette(mat.$deep-purple-palette, 700);
$palette-warn: mat.define-palette(mat.$red-palette);

$color-primary: mat.get-color-from-palette($palette-primary, 600);
$color-secondary: mat.get-color-from-palette($palette-secondary, 700);
$color-warning: mat.get-color-from-palette(mat.$amber-palette, 400);
$color-success: mat.get-color-from-palette(mat.$green-palette, 400);

$color-link: mat.get-color-from-palette($palette-secondary, 500);
$color-link-visited: mat.get-color-from-palette($palette-secondary, 500);
$color-link-active: mat.get-color-from-palette($palette-secondary, 300);

$color-bg: #fdffff;
$color-text: #111;

$color-text-secondary: #212121;
$color-text-label: rgba-to-rgb(rgba(0, 0, 0, 0.6));
$color-text-tinted-label: rgba-to-rgb(rgba(0, 0, 0, 0.4), $color-primary);
$color-icon-secondary: #666;

$color-field-bg: rgba-to-rgb(color.change(mat.get-color-from-palette($palette-primary, 300), $alpha: 0.15));
$color-accent-field-bg: rgba-to-rgb(color.change(mat.get-color-from-palette($palette-secondary, 300), $alpha: 0.15));
$color-hover-row-bg: rgba-to-rgb(color.change(mat.get-color-from-palette($palette-primary, 300), $alpha: 0.05));
$color-editor-bg: color.change(mat.get-color-from-palette($palette-secondary, 300), $lightness: 96%);
$color-checked-button: rgba-to-rgb(color.change(mat.get-color-from-palette($palette-primary, 600), $alpha: 0.5));

$color-black-key-bg: #eee;
$color-hover-black-key-bg: rgba-to-rgb(color.change($color-hover-row-bg, $saturation: 20%, $lightness: 80%));
