@import '~@angular/material/theming';

$palette-primary: mat-palette($mat-teal, 500);
$palette-secondary: mat-palette($mat-deep-purple, 700);
$palette-warn: mat-palette($mat-red);

$color-link: mat-color($palette-primary, 800);
$color-link-visited: mat-color($palette-primary, 900);
$color-link-active: mat-color($palette-primary, 500);

$color-bg: #fcfefe;
$color-text: #111;
