@import '~@angular/material/theming';

$palette-primary: mat-palette($mat-teal, 600);
$palette-secondary: mat-palette($mat-deep-purple, 700);
$palette-warn: mat-palette($mat-red);

$color-link: mat-color($palette-secondary, 500);
$color-link-visited: mat-color($palette-secondary, 500);
$color-link-active: mat-color($palette-secondary, 300);

$color-bg: #fdffff;
$color-text: #111;

$color-text-secondary: #212121;
$color-icon-secondary: #666;
