/*
 * SPDX-FileCopyrightText: 2022 Argho Tuning Project Authors
 *
 * SPDX-License-Identifier: Apache-2.0
 */

$font-body: 'Work Sans', sans-serif;
$font-body-med-weight: 500;

$font-title: 'Lora', serif;
$font-title-weight: 500;

$font-monospace: 'Inconsolata', monospace;

$font-accidental: 'Bravura Text', sans-serif;
