/*
 * SPDX-FileCopyrightText: 2022 Argho Tuning Project Authors
 *
 * SPDX-License-Identifier: Apache-2.0
 */

.page-shell {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page-main {
  flex-grow: 1;
}

.page-content {
  display: flex;
  flex-direction: column;
  max-width: 860px;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
}

@media (min-width: 720px) {
  .page-content {
    padding-left: 3em;
    padding-right: 3em;
  }
}
