/*
 * SPDX-FileCopyrightText: 2022 Argho Tuning Project Authors
 *
 * SPDX-License-Identifier: Apache-2.0
 */

@import '_fonts';

$key-border: 1px solid #000;

.piano-container {
  /* CSS variables are JS controlled. */
  --piano-controls-width: 0;
  --white-key-width: 0;
  --white-key-height: 0;

  margin-bottom: 0.5em;
}

.piano-container.fullscreen {
  align-items: center;
  background-color: #555;
  display: flex;
  height: 100% !important;
  justify-content: center;
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
}

.piano-inner-container {
  display: flex;
  flex-direction: row;

  .piano-controls {
    background-color: #ccc;
    border: $key-border;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: var(--white-key-height);
    width: var(--piano-controls-width);

    button {
      line-height: calc(0.3 * var(--white-key-height));
      min-width: var(--piano-controls-width);
      padding: 0;
    }
  }
}

.piano-keys {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;  /* Prevent popup context menu on longpress. */
  min-width: calc(8 * var(--white-key-width));
  touch-action: none;  /* Manage touches manually. */
}

.white-key {
  background-color: #fff;  /* TODO: Style. */
  border: $key-border;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  height: var(--white-key-height);
  position: relative;
  width: var(--white-key-width);

  .pitch-label {
    bottom: 0.125em;
    font-size: 0.8rem;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-align: center;
    user-select: none;
  }

  .black-key {
    background-color: #111;  /* TODO: Style. */
    height: calc(0.6 * var(--white-key-height));
    right: calc(-0.375 * var(--white-key-width));
    position: absolute;
    top: 0;
    width: calc(0.75 * var(--white-key-width));
    z-index: 100;  /* TODO: Centrally managed constants. */
  }

  .black-key.unmapped {
    background-color: #666;  /* TODO: Style. */
    cursor: default;
  }

  .black-key.root {
    background-color: #9c5900;  /* TODO: Style. */
  }

  .black-key.playing {
    background-color: #33c;  /* TODO: Style. */
  }
}

.white-key.unmapped {
  background-color: #ddd;  /* TODO: Style. */
  cursor: default;
}

.white-key.root {
  background-color: #ffddb1;  /* TODO: Style. */
}

.white-key.playing {
  background-color: #66f;  /* TODO: Style. */
}
