<!--
SPDX-FileCopyrightText: 2022 Argho Tuning Project Authors

SPDX-License-Identifier: Apache-2.0
-->

<div #pianoContainer class="piano-container" (window:resize)="handleResize()">
  <div class="piano-inner-container">
    <div class="piano-controls">
      <button mat-button
          aria-label="Shift piano keyboard down by 1 octave"
          [disabled]="!canShiftOctaveDown()"
          (click)="shiftByOctaves(-1)">
        <fa-icon [icon]="faCircleArrowLeft" [size]="controlIconSize"></fa-icon>
      </button>
      <button mat-button
          aria-label="Shift piano keyboard up by 1 octave"
          [disabled]="!canShiftOctaveUp()"
          (click)="shiftByOctaves(1)">
        <fa-icon [icon]="faCircleArrowRight" [size]="controlIconSize"></fa-icon>
      </button>
      <button *ngIf="supportsFullScreen" mat-button
          aria-label="Toggle fullscreen"
          (click)="toggleFullScreen()">
        <fa-icon [icon]="isFullScreen ? faDownLeftAndUpRightToCenter : faExpand"
            [size]="controlIconSize"></fa-icon>
      </button>
    </div>

    <div #pianoKeys class="piano-keys"
        (pointerdown)="handlePianoKeyDown($event)"
        (pointerup)="handlePianoKeyUp($event)"
        (pointerleave)="handlePianoKeyUp($event)"
        (contextmenu)="$event.preventDefault()">
      <div *ngFor="let whiteKey of whiteKeys"
          class="white-key" [attr.data-key]="whiteKey.pitch.midiPitch">
        <div *ngIf="whiteKey.precedesBlackKey"
            class="black-key" [attr.data-key]="whiteKey.precedesBlackKey.midiPitch"></div>
        <div *ngIf="whiteKey.pitch.letter == 'C'" class="pitch-label">
          <app-spelled-pitch [pitch]="whiteKey.pitch"></app-spelled-pitch>
        </div>
      </div>
    </div>
  </div>
</div>

