<!--
SPDX-FileCopyrightText: 2022 Argho Tuning Project Authors

SPDX-License-Identifier: Apache-2.0
-->

<mat-form-field class="waveform" appearance="fill" color="primary">
  <mat-label>Waveform</mat-label>
  <mat-select [value]="waveform" (selectionChange)="handleWaveformChange($event.value)">
    <mat-option value="sine">Sine</mat-option>
    <mat-option value="triangle">Triangle</mat-option>
    <mat-option value="square">Square</mat-option>
    <mat-option value="sawtooth">Sawtooth</mat-option>
  </mat-select>
</mat-form-field>

<div class="volume-control">
  <fa-icon [icon]="faVolumeOff"></fa-icon>
  <mat-slider class="volume-slider"
      aria-label="Volume"
      min="0.0" max="1.0" step="0.05"
      [value]="volume"
      (input)="handleVolumeChange($event.value || 0.0)"></mat-slider>
  <fa-icon [icon]="faVolumeHigh"></fa-icon>
</div>
