/*
 * SPDX-FileCopyrightText: 2022 Argho Tuning Project Authors
 *
 * SPDX-License-Identifier: Apache-2.0
 */

$field-gap: 1em;

:host {
  display: inline-flex;
  flex-wrap: wrap;
  margin-left: -1 * $field-gap;
  width: calc(100% + #{$field-gap});

  mat-form-field,
  .volume-control {
    margin-left: $field-gap;
    margin-bottom: $field-gap;
  }

  .waveform { width: 8em; }
 
  .volume-control {
    .volume-slider {
      margin-left: 0.25em;
      margin-right: 0.25em;
      width: 9em;
    }

    /* Nudge volume icons slightly down to align with slider track. */
    fa-icon {
      position: relative;
      top: 0.1em;
    }
  }
}
