<p>Play mapped scale degrees using the on-screen piano keyboard or a MIDI
keyboard device (if your browser supports it).</p>

<p>
  <span class="web-midi-label">WebMIDI</span>:
  <ng-container [ngSwitch]="accessState">
    <ng-container *ngSwitchCase="WebMidiAccessState.UNSUPPORTED">
      Unsupported (see <a href="https://caniuse.com/midi">current browser support</a>).
    </ng-container>

    <ng-container *ngSwitchCase="WebMidiAccessState.UNREQUESTED">
      <button mat-raised-button class="enable-button" color="accent" (click)="enableMidiInput()">
        Enable MIDI Input
      </button>
    </ng-container>

    <ng-container *ngSwitchCase="WebMidiAccessState.GRANTED">
      Enabled.
      <ng-container *ngIf="allInputPorts.length === 0">No MIDI inputs available.
      Have you plugged in a MIDI keyboard?</ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="WebMidiAccessState.DENIED">
      Disabled. You did not grant permission.
    </ng-container>
  </ng-container>
</p>

<div *ngIf="allInputPorts.length >= 1" class="midi-input-block">
  <mat-form-field class="midi-inputs" appearance="fill" backgroundColor="primary">
    <mat-label>MIDI Input Port</mat-label>
    <mat-select [value]="activeInput?.id" (selectionChange)="handleMidiInputChange($event.value)">
      <mat-option *ngFor="let inputPort of allInputPorts" [value]="inputPort.id">{{inputPort.name}}</mat-option>
    </mat-select>
    <mat-hint>
      <ng-container *ngIf="activeInput?.connectionStatus === 'pending'">Connecting&hellip;</ng-container>
      <ng-container *ngIf="activeInput?.connectionStatus === 'open'">Connected</ng-container>
    </mat-hint>
  </mat-form-field>

  <mat-form-field class="midi-channel" appearance="fill" backgroundColor="primary">
    <mat-label>Channel</mat-label>
    <mat-select [value]="channel" (selectionChange)="handleChannelChange($event.value)">
      <mat-option value="omni">Omni</mat-option>
      <mat-option value="1">1</mat-option>
      <mat-option value="2">2</mat-option>
      <mat-option value="3">3</mat-option>
      <mat-option value="4">4</mat-option>
      <mat-option value="5">5</mat-option>
      <mat-option value="6">6</mat-option>
      <mat-option value="7">7</mat-option>
      <mat-option value="8">8</mat-option>
      <mat-option value="9">9</mat-option>
      <mat-option value="10">10</mat-option>
      <mat-option value="11">11</mat-option>
      <mat-option value="12">12</mat-option>
      <mat-option value="13">13</mat-option>
      <mat-option value="14">14</mat-option>
      <mat-option value="15">15</mat-option>
      <mat-option value="16">16</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="waveform" appearance="fill" backgroundColor="primary">
    <mat-label>Waveform</mat-label>
    <mat-select [value]="waveform" (selectionChange)="handleWaveformChange($event.value)">
      <mat-option value="sine">Sine</mat-option>
      <mat-option value="triangle">Triangle</mat-option>
      <mat-option value="square">Square</mat-option>
      <mat-option value="sawtooth">Sawtooth</mat-option>
    </mat-select>
  </mat-form-field>
</div>
