/*
 * SPDX-FileCopyrightText: 2022 Argho Tuning Project Authors
 *
 * SPDX-License-Identifier: Apache-2.0
 */

 @import '_fonts';

$field-gap: 1em;

.web-midi-state {
  margin-bottom: $field-gap;
}

.web-midi-label {
  font-weight: $font-body-med-weight;
}

.enable-button {
  margin-left: 1em;
}

.midi-input-block {
  display: inline-flex;
  flex-wrap: wrap;
  margin-left: -1 * $field-gap;
  width: calc(100% + #{$field-gap});

  mat-form-field {
    margin-left: $field-gap;
    margin-bottom: $field-gap;
  }

  .midi-inputs { width: 12em; }
  .midi-channel { width: 6em; }
}
