/*
 * SPDX-FileCopyrightText: 2022 Argho Tuning Project Authors
 *
 * SPDX-License-Identifier: Apache-2.0
 */

@import '_colors';
@import '_fonts';

:host {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  max-width: 560px;
}

fa-icon {
  margin-left: 0.5em;
}

mat-form-field {
  width: 100%;
}

.prefix-label {
  color: $color-text-label;
  margin-right: 1em;
}

.accidental {
  font-family: $font-accidental;
}
