/*
 * SPDX-FileCopyrightText: 2022 Argho Tuning Project Authors
 *
 * SPDX-License-Identifier: Apache-2.0
 */

@import '_fonts';

.edit-mode-label {
  margin-left: 0.25em;
}

.tuning-size-details {
  margin-left: 0.25em;
  font-weight: $font-body-normal-weight;
}
