<!--
SPDX-FileCopyrightText: 2022 Argho Tuning Project Authors

SPDX-License-Identifier: Apache-2.0
-->

<h1 mat-dialog-title>Resize Tuning</h1>

<div mat-dialog-content>
  <mat-button-toggle-group name="edit-mode" aria-label="Edit Mode"
      #editModeGroup="matButtonToggleGroup"
      [value]="pendingMode"
      (change)="handleModeChange(editModeGroup.value)">
    <mat-button-toggle value="basic" [disabled]="!canSwitchToBasic">Basic</mat-button-toggle>
    <mat-button-toggle value="advanced">Advanced</mat-button-toggle>
  </mat-button-toggle-group>

  <div class="mode-explanation">
    <ng-container *ngIf="pendingMode == 'basic'">
      12 degrees per octave, chromatically mapped
    </ng-container>
    <ng-container *ngIf="pendingMode == 'advanced'">
      custom degrees and mapping
    </ng-container>
  </div>

  <div class="explanation-top-label">Scale pattern repeats after:</div>

  <div class="tuning-size-fields">
    <mat-form-field class="scale-num-octaves" appearance="fill" color="primary">
      <mat-label>Octaves</mat-label>
      <input type="number" #numOctavesInput matInput [value]="pendingNumOctaves"
             (change)="handleInputChanges()" [min]="minOctavesValue" [max]="maxOctavesValue"
            (keydown.enter)="blurTarget($event.target)">
      <mat-hint>{{minOctavesValue}} to {{maxOctavesValue}}</mat-hint>
    </mat-form-field>

    <mat-form-field class="scale-num-degrees" appearance="fill" color="primary">
      <mat-label>Scale Degrees</mat-label>
      <input type="number" #numDegreesInput matInput [value]="pendingNumDegrees"
             (change)="handleInputChanges()" [min]="minDegreesValue" [max]="maxDegreesValue"
             [disabled]="pendingMode == 'basic'"
            (keydown.enter)="blurTarget($event.target)">
      <mat-hint *ngIf="pendingMode == 'advanced'">{{minDegreesValue}} to {{maxDegreesValue}}</mat-hint>
    </mat-form-field>

    <mat-form-field class="mapping-num-keys" appearance="fill" color="primary">
      <mat-label>Input Keys</mat-label>
      <input type="number" #numKeysInput matInput [value]="pendingNumKeys"
             (change)="handleInputChanges()" [min]="minKeysValue" [max]="maxKeysValue"
             [disabled]="pendingMode == 'basic'"
            (keydown.enter)="blurTarget($event.target)">
      <mat-hint *ngIf="pendingMode == 'advanced'">{{minKeysValue}} to {{maxKeysValue}}</mat-hint>
    </mat-form-field>
  </div>
</div>

<div mat-dialog-actions>
  <button class="resize-btn" mat-button (click)="commit()" [disabled]="!isValid">Resize</button>
  <button class="cancel-btn" mat-button mat-dialog-close>Cancel</button>
</div>
