<h2 class="mat-headline">Make music in any tuning system in the world.</h2>

<p><strong>Argho Tuning</strong> is a free and open source standard for defining
  and using musical <em>tuning systems</em> (often called <em>microtunings</em>),
  allowing you to write or perform music using scales tuned differently from the
  Western 12-tone equal temperament piano.</p>

<p>This site hosts a collection of <a href="/editor">online tuning tools</a>,
  free <a href="/downloads">downloadable software</a>, and
  <a href="/learn">learning resources</a> for composers, music producers,
  performers, and musicologists.</p>

<p>For music software and library developers, we also provide a set of
  <a href="/projects">open source projects</a> to make integrating Argho Tuning
  support into your software or virtual instruments as simple as possible.</p>

<mat-nav-list>
  <a mat-list-item href="/explore">
    <fa-icon [icon]="faCompass"></fa-icon>
    <span class="link-text">Explore tunings</span>
  </a>
  <a mat-list-item href="/downloads">
    <fa-icon [icon]="faDownload"></fa-icon>
    <span class="link-text">Download the software</span>
  </a>
  <a mat-list-item href="/learn">
    <fa-icon [icon]="faGraduationCap"></fa-icon>
    <span class="link-text">Learn how to use it</span>
  </a>
  <a mat-list-item href="/projects">
    <fa-icon [icon]="faCodeBranch"></fa-icon>
    <span class="link-text">Integrate with your software</span>
  </a>
  <a mat-list-item href="/contact">
    <fa-icon [icon]="faEnvelope"></fa-icon>
    <span class="link-text">Get in touch</span>
  </a>
</mat-nav-list>

<p>We’re a research project supported by Carnegie Mellon University’s
  <a href="https://studioforcreativeinquiry.org">STUDIO for Creative Inquiry
    <fa-icon class="ext-link-symbol" [icon]="faExternalLinkAlt"></fa-icon></a>
  and <a href="http://centerforiranianmusic.org">Center for Iranian Music
    <fa-icon class="ext-link-symbol" [icon]="faExternalLinkAlt"></fa-icon></a>.</p>
