/*
 * SPDX-FileCopyrightText: 2022 Argho Tuning Project Authors
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/* Apply border-box box model sizing; inherit to allow overridding. */
:root { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

html, body { height: 100%; }

body {
  line-height: 1.4;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
