<!--
SPDX-FileCopyrightText: 2022 Argho Tuning Project Authors

SPDX-License-Identifier: Apache-2.0
-->

<h2 class="mat-headline">Tuning Editor</h2>

<app-file-buttons></app-file-buttons>
<app-tuning-metadata></app-tuning-metadata>
<app-tuning-size></app-tuning-size>

<mat-tab-group dynamicHeight>
  <mat-tab label="Scale"><app-scale-editor></app-scale-editor></mat-tab>
  <mat-tab label="Mapping"><app-mapping-editor></app-mapping-editor></mat-tab>
  <mat-tab label="Analyze"><app-tuning-analysis></app-tuning-analysis></mat-tab>
  <mat-tab label="Play"><app-tuning-player></app-tuning-player></mat-tab>
</mat-tab-group>
