/*
 * SPDX-FileCopyrightText: 2022 Argho Tuning Project Authors
 *
 * SPDX-License-Identifier: Apache-2.0
 */

$field-gap: 1em;

:host {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1 * $field-gap;
  width: calc(100% + #{$field-gap});
}

.mapping-metadata-block {
  margin-left: $field-gap;
  padding-right: 1em;

  .mat-button {
    padding: 0 0.5em;
    min-width: 3.5em;
  }
}

.mapping-root {
  margin-bottom: $field-gap;
  width: 11em;
}
