<mat-form-field class="global-tune" appearance="fill" backgroundColor="primary">
  <mat-label>Global Tune</mat-label>
  <input type="number" #globalTuneInput matInput [value]="globalTuneStrValue()"
         [min]="minGlobalTune" [max]="maxGlobalTune" (blur)="handleGlobalTuneBlur()"
         (keydown.enter)="blurTarget($event.target)">
  <mat-hint><app-spelled-pitch [pitch]="globalTunePitch"></app-spelled-pitch> (Hz)</mat-hint>
</mat-form-field>

<mat-form-field class="root-spec" appearance="fill" backgroundColor="primary">
  <mat-label>Specify Root As</mat-label>
  <mat-select [value]="scaleRoot.specType" (selectionChange)="handleSpecTypeChanged($event.value)">
    <mat-option [value]="RootScaleDegreeSpecType.EXACT_FREQ">exact freq</mat-option>
    <mat-option [value]="RootScaleDegreeSpecType.RELATIVE_TO_12TET_MIDI_PITCH">12TET relative</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field *ngIf="scaleRoot.specType == RootScaleDegreeSpecType.EXACT_FREQ"
                class="exact-freq" appearance="fill" backgroundColor="primary">
  <mat-label>Exact Root</mat-label>
  <input type="number" #exactFreqInput matInput [value]="exactFreqStrValue()"
         [min]="minFreqHz" [max]="maxFreqHz" (blur)="handleExactFreqBlur()"
         (keydown.enter)="blurTarget($event.target)">
  <mat-hint>Freq (Hz)</mat-hint>
</mat-form-field>

<ng-container *ngIf="scaleRoot.specType == RootScaleDegreeSpecType.RELATIVE_TO_12TET_MIDI_PITCH">
  <mat-form-field class="nearest-midi-pitch" appearance="fill" backgroundColor="primary">
    <mat-label>Nearest Pitch</mat-label>
    <input #nearestPitchInput matInput [value]="nearestPitchStrValue()"
           (blur)="handleNearestPitchBlur()" (keydown.enter)="blurTarget($event.target)">
    <mat-hint>to scale root</mat-hint>
  </mat-form-field>

  <mat-form-field class="cents-offset" appearance="fill" backgroundColor="primary">
    <mat-label>Cents Offset</mat-label>
    <input type="number" #centsOffsetInput matInput [value]="centsOffsetStrValue()"
            [min]="minCentsOffset" [max]="maxCentsOffset" (blur)="handleCentsOffsetBlur()"
            (keydown.enter)="blurTarget($event.target)">
    <mat-hint>from 12TET</mat-hint>
  </mat-form-field>
</ng-container>

<app-scale-table-config></app-scale-table-config>
